.k-tabstrip-top > .k-tabstrip-items-wrapper
{
    background-color:#060d62;
    color: white;
    height: 40px;
}
 .k-tabstrip-items-wrapper .k-item {
    color: white;
}

.container{
    padding-top: 50px;
    padding-left: 250px !important;
    width: 1000px !important;
}

table > thead > tr{
    background-color: #060d62;
    color: white !important;
}

table > thead > th{
    color: white !important;
}
/* table{
    width: 600px;
} */

.k-tabstrip{
    height: 100% !important;
}

.btn-outline-success{
    background-color: green !important;
    color: white !important;
    float: right;
    height: 21px !important;
    font-size: 12px !important;
}

table>thead {
     vertical-align:middle;
     color: white !important;
}

my-app { padding: 0 !important; }

.k-drawer-container {
    width: 100%;
    height: 100%;
}
.title {
    font-size: 18px;
    margin: 0;
}
.box {
    padding: 4px; 
    text-align: center; 
    vertical-align: center; 
}

.basic-header { 
    background-color: #3e696b;
    border: 1px solid rgb(166, 210, 234); 
    box-shadow: 0px 10px 20px #00000029;
    color: white;
    font-size: 16px;
   
    border-radius: 10px;
}
.nav { background-color: #e4e8ef;
    border: 1px solid darkblue; 
    box-shadow:  0px 10px 20px #00000068;
}
.inner-content {
    padding-top: 15px;
     background-color:  #e4e8ef;
     padding-right: 50px;
     padding-left: 50px;
     box-shadow: 0px 10px 20px #00000068;
}
.emp-footer {
    background-color: #a4d9dc;
    border: 1px solid rgb(166, 210, 234); 
    box-shadow: 0px 10px 20px #00000029;
    color: white;
    font-size: 16px;
   height: 37px;
    border-radius: 10px;
}

.k-animation-container-relative {
    display: block;
    overflow: auto;
}

.box inner-content > div{
    padding: 8px;
}
input{
    border: 1px solid #39a6d7 !important;
    box-shadow: 2px 2px 2px #00000068 !important;
    
}

.k-form-buttons
{
    float: right;
    margin-top: 0px !important;
}
.upload-Image{
    background-color: white;
    width: 100%;
}

.k-calendar-th{
    color: white !important;
}

.k-dropdownlist{
    background-color: white !important;
    border: 1px solid #39a6d7 !important;
    box-shadow: 2px 2px 2px #00000068 !important;
}

.img-preview{
    padding-top: 20px;
}

.is-inhous{
    text-align: left;
}

.is-inhous > span > label{
    padding-left: 10px;
}
.k-tabstrip-content, .k-tabstrip > .k-content
{
    padding: 0px !important;
}

.k-justify-content-start {
    margin-top: -25px !important;
}

.choose_file {
    position: relative;
   
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: none;
    float: right;
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}

.choose_file > button {
    width: 30%;
    height: 28px;
    border-radius: 10px;
    background-color: steelblue;
    color: white;
}